:root{
    --primary-color: ;
    --primary-color-hover: color-mix(in srgb, var(--primary-color) 100%, #000 10%);
    --font-family: sans-serif;
    --font-monospace: monospace;
}
:root.light{
    --bg-color: #f8fafc;
    --bg-color-hover: color-mix(in srgb, var(--bg-color-secundary) 100%, #000 5%);
    --bg-color-secundary: #fff;
    --text-color: #0f172A;
    --text-color-hover: color-mix(in srgb, var(--text-color) 100%, #fff 10%);
}
:root.dark{
    --bg-color: #0b1220;
    --bg-color-hover: color-mix(in srgb, var(--bg-color-secundary) 100%, #fff 5%);
    --bg-color-secundary: #111827;
    --text-color: #e5e7eb;
    --text-color-hover: color-mix(in srgb, var(--text-color) 100%, #000 10%);
}

::view-transition-old(root){
    animation-delay: .5s;
}
::view-transition-new(root){
    animation: change-dark-new .5s both;
}
@keyframes change-dark-new{
    from{
        clip-path: circle(0% at 50% 50%);
    }
    to{
        clip-path: circle(100% at 50% 50%);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    border: none;
    font-size: inherit;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    height: 100dvh;
}





/* ----------------- HEADER --------------------- */

.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: var(--bg-color-secundary);
    box-shadow: 0 -30px 80px 0 var(--primary-color);
}
.header__h1-container{
    align-self: center;
}


.header__options-container{
    display: flex;
    gap: 10px;
}
.header__options-container li::marker{
    content: none;
}


.header__options__theme{
    background-color: var(--color-option);
    display: flex;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 8px 0 #2222;
}
#header__options__theme__input{
    display: none;
}
.header__options__theme__label{
    background-color: var(--primary-color);
    border-radius: 7px;
    padding: 5px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.header__options__theme__label::after{
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--primary-color);
    border-radius: inherit;
    position: absolute;
    z-index: -1;
    animation-duration: 50ms;
    animation-fill-mode: both;
}
.header__options__theme__label.close::after{
    animation-name: hide-options-theme;
}
.header__options__theme__label.open::after{
    animation-name: show-options-theme;
}
@keyframes show-options-theme {
    to{
        top: 12px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}
@keyframes hide-options-theme {
    from{
        top: 12px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    to{
        top: 0;
        border: inherit;
    }
}
.header__options__theme__label:hover{
    background-color: var(--primary-color-hover);
}
.header__options__theme__label.open:hover::after{
    background-color: var(--primary-color-hover);
}
.header__options__theme__label__color{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 12px;
    cursor: pointer;
    z-index: calc(var(--position) * -2);
    display: none;
    background-color: var(--color-option);
    box-shadow: 0 0 8px 0 #2222;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}
@keyframes show-color-options {
    to{
        top: calc(12px + var(--position)*100%);
    }
}
@keyframes hide-color-options {
    from{
        top: calc(12px + var(--position)*100%);
    }
    to{
        display: none;
        top: 12px;
    }
}
.header__options__theme__label__color:hover{
    background-color: color-mix(in srgb, var(--color-option) 100%, #000 10%);
}
.header__options__theme__label__color.color-selected{
    border: 2px solid var(--text-color);
}

.header__options__svg{
    height: 100%;
    fill: var(--text-color);
    padding: 3px 7px;
    cursor: pointer;
    border-radius: 7px;
}
.header__options__svg:hover{
    background-color: var(--bg-color-hover);
    fill: var(--text-color-hover);
}
.header__options__them-mode__button{
    height: 100%;
    background-color: transparent;
    border-radius: 7px;
}


.header__options__config{
    position: relative;
}
.header__options__config.open::before{
    content: '';
    right: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(50%);
    height: 30px;
    width: 25px;
    background-color: var(--bg-color-secundary);
    animation: config-before 50ms linear both;
}
@keyframes config-before {
    from{
        clip-path: polygon(50% 0, 50% 0, 50% 0, 50% 0);
    }
    to{
        clip-path: polygon(60% 0, 40% 0, 0 100%, 100% 100%);
    }
}


.header__options__config__button{
    height: 100%;
    background-color: transparent;
    border-radius: 7px
}


.header__options__config__chart__wrapper{
    color: var(--bg-color-secundary);
    background-color: var(--text-color);
    position: absolute;
    top: 50%;
    right: calc(50% - 10px);
    display: block;
    clip-path: polygon(calc(100% - 10px) 0%, calc(100% - 10px) 0%, calc(100% - 10px) 0%, calc(100% - 10px) 0%, calc(100% - 10px) 0%, calc(100% - 10px) 0%);
    padding-top: 30px;
    animation: .2s 100ms linear both;
}
@keyframes config-chart {
    100%{
        clip-path: polygon(100% 30px, calc(100% - 10px) 0%, calc(100% - 20px) 30px, 0% 30px, 0% 100%, 100% 100%);
    }
}
.header__options__config__chart{
    width: max-content;
    margin: 10px;
}
.header__options__config__chart div{
    margin: 10px 0;
    border-bottom: 1px solid var(--bg-color-hover);
}

.header__options__config__chart__label{
    display: flex;
    gap: 10px;
    margin: 5px;
}
.header__options__config__chart__label p{
    width: max-content;
}

/* ----------------- HEADER END--------------------- */





/* ----------------- MAIN --------------------- */

.main{
    --time-font-size: 2.5rem;
    --date-font-size: 1.5rem;
    font-family: var(--font-monospace);
    color: var(--primary-color);
    font-weight: 900;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.main__time{
    font-size: var(--time-font-size);
}
.main__date{
    font-size: var(--date-font-size);
}